

// $red: rgb(173, 9, 9);

// $dark-orange: rgb(220, 71, 8);

// $orange: rgb(255, 165, 0);

/////  RICH

// $red: rgb(220,20,60);

// $dark-orange: rgb(219, 99, 48);

// $orange: rgb(254, 184, 54);


////  PASTEL

// $red: rgb(227, 30, 70);

// $dark-orange: rgb(217, 123, 83);

// $orange: rgb(250, 202, 115);


$red: rgb(235, 53, 89);

$dark-orange: rgb(219, 138, 104);

$orange: rgb(254, 221, 159);

$orange-transparent: rgba(254, 221, 159, 0.3);

$white-transparent: rgba(245, 245, 245, 0.271);

$green: #5f956f;

$dark-green: #008086;

$light-green: #61a8a5;

$light-blue: #97dcd3;

////  Fonts

$title:  'Black Han Sans', sans-serif;
$name: 'Black Ops One', 'cursive';

$phone: 450px;
$mid-screen: 800px;